/* GLOBAL CSS */

:root {
  --main-color-1: #f0f0f0;
  --main-color-2: #13a88c;
  --main-color-3: #d2e9e5;

  --color-titulo-1: #13a88c;
  --color-titulo-2: #dc6242; /* es degradado */
  --color-titulo-3: #dc6242; /* es degradado */

  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-700: #3c3c3c;
  --black-400: #555555;
  --black-200: #808080;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #fff;
  line-height: 1.5;
}
* {
  margin: 0;
  padding: 0;
  outline: none !important;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
.btn-1 {
  background: linear-gradient(to top, var(--main-color-2), #07e2b7);
  padding: 8px 20px;
  border: none;
  border-radius: 15px;
  color: var(--main-color-1);
  font-size: 18px;
  /* text-transform: capitalize; */
  transition: all 0.5s ease;
  box-shadow: var(--shadow-black-100);
  font-weight: 600;
  color: #fff;
}
.btn-2 {
  background: linear-gradient(to top, #d65f40, #fe784f);
  padding: 8px 20px;
  border: none;
  border-radius: 15px;
  color: var(--main-color-1);
  font-size: 20px;
  /* text-transform: capitalize; */
  transition: all 0.08s ease;
  box-shadow: var(--shadow-black-100);
  font-weight: 600;
  color: #fff;
}

.btn-1:focus,
.btn-2:focus {
  box-shadow: var(--shadow-black-300);
  color: #fff;
}
.btn-1:hover,
.btn-2:hover {
  -webkit-transform: scale(1.07);
  transform: scale(1.07);

  color: #fff;
  box-shadow: var(--shadow-black-300);
}

@keyframes bounceTop_01 {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
}

.section-padding {
  padding: 80px 0;
}
.section-title {
  margin-bottom: 40px;
}
.section-title h2 {
  font-size: 40px;
  color: var(--black-900);
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}

.section-title h2 span {
  color: var(--main-color-1);
}
.owl-carousel .owl-dots {
  padding: 0 15px;
  text-align: center;
  margin-top: 20px;
}
.owl-carousel button.owl-dot {
  height: 6px;
  width: 24px;
  background-color: #ddd;
  display: inline-block;
  margin: 0 4px;
  border-radius: 5px;
}
.owl-carousel button.owl-dot.active {
  background-color: var(--main-color-1);
}
.navbar .container-fluid,
.home .container-fluid,
.marketing .container-fluid,
.allies .container-fluid .allies-body,
.products .container-fluid {
  margin: 0 10vw;
}
/*
.allies .container-fluid {
  margin: 0;
}*/

/* ------------ NAVBAR ---------------- */
.navbar {
  background-color: transparent;
  padding: 20px 0;
  transition: all 0.5s ease;
  background-color: var(--main-color-1);
}

.navbar.navbar-shrink {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  /* background-color: var(--main-color-2); */
  padding: 10px 0;
}
/*
.navbar > .container {
   padding: 0 15px; 
}*/
.navbar-brand {
  display: inline-block;
  margin: 0;
}
.navbar img {
  max-width: 120px;
  width: 100%;
}
.navbar .nav-item {
  margin-left: 40px;
}
.navbar .nav-item .nav-link {
  color: var(--color-titulo-1);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 0;
  position: relative;
}
.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  background-color: var(--color-titulo-1);
  transition: all 0.5 ease;
  transform: scale(0);
}
.navbar .nav-item .active::before,
.navbar .nav-item .nav-link:hover::before {
  transform: scale(1);
}

/* ----------- HOME SECTION --------------  */
.home {
  min-height: 70vh;
  padding: 140px 0 50px 0;
  background-color: var(--main-color-1);
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
.home .home-content {
  margin-right: 45px;
}

.products-title {
  text-align: left;
}
.home-title h2 {
  font-size: 50px;
  font-weight: 700;
  color: var(--color-titulo-1);
  position: relative;
}

.home-title h2 span.mas {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 38px;
  font-size: 60px;
  font-weight: 750;
  color: var(--color-titulo-1);
  transform: translate(-35px, 15px);
}

.home-title .h1 {
  display: block;
  font-size: 58px;
  font-weight: 700;
  background: linear-gradient(#08ebbe, var(--main-color-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-text p {
  font-size: 20px;
  color: var(--black-200);
  line-height: 28px;
  margin: 20px 0;
  font-weight: 300;
  /* word-spacing: 7px; */
}

.home-text span {
  margin: 35px 0;
  display: block;
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  word-spacing: 5px;
  color: var(--black-200);
}
.home-apps > div:first-child {
  margin-bottom: 15px;
}
.home-apps div > span {
  color: var(--black-200);
  font-size: 20px;
}

.home-apps .apps .app:not(:first-child) {
  margin-left: 10px;
}
.home-apps .apps {
  display: flex;
  /* flex-direction: column; */
}

.home-apps .app-item {
  /* width: 200px; */

  background-color: var(--black-900);
  padding: 0px 10px;
  display: flex;
  margin: 0;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  /* transition: all 0.3s linear; */
  float: left;
}

.home-apps .app-item:hover {
  -webkit-transform: scale(1.07);
  transform: scale(1.07);

  box-shadow: var(--shadow-black-300);
}

.home-apps .app-item img {
  max-width: 35px;
  min-width: 30px;
  widows: 100%;
  padding: 5px;
}
.home-apps .app-item .text-app {
  color: #fff;
  margin-left: 3px;
}
.home-apps .app-item .text-app span {
  font-size: 9px;
  font-weight: 300;
  color: #fff;
}
.home-apps .app-item .text-app h3 {
  font-size: 15px;
  font-weight: 600;
  word-spacing: -2px;
}

.home-img img {
  max-width: 600px;
  width: 90%;
  /* box-shadow: var(--shadow-black-100); */
  border-radius: 32px;
  animation: bounceTop_01 3s ease infinite;
}
.home-img {
  position: relative;
  margin-left: 50px;
}
.home-img .circle {
  position: absolute;
  background: linear-gradient(to top left, var(--main-color-2), #07e2b7);
  height: 600px;
  width: 600px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -40%);
}

/* ------------ PRODUCTS SECTION ---------------- */
.products {
  min-height: 600px;
  padding: 120px 0;
  background: url(../img/section-products/bg.png) no-repeat;
  position: relative;
  z-index: 1;
  overflow-x: hidden;

  justify-content: center;
  background-size: cover;
  background-position: center;
}
.products-title {
  text-align: left;
}
.products-text h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-titulo-1);
  position: relative;
}

.products-text h2 span {
  font-size: 40px;
  font-weight: 700;
  background: rgb(255, 255, 255);
  background: linear-gradient(#f79375, #d96041);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.products-list {
  display: flex;
  height: 450px;
  width: 450px;
  transition: all 1s ease;
}
/*
.products-list img:hover {
  transform: scale(1.07);
  filter: brightness(1.25);
  transition: all 0.5s ease;
}
*/

/* Flipping cards */
.container .box {
  position: relative;
  height: 130px;
  width: 130px;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
}

.container .box .body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.9s ease;
}

.container .box .body .imgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.container .box .body .imgContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .box .body .content {
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black-700);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.container .box:hover .body {
  transform: rotateY(180deg);
}

.container .box:hover .body .content div {
  opacity: 1;
  z-index: 10000;
}

.container .box .body .content div {
  opacity: 0;
  transition: all 0.5s ease;

  transform-style: preserve-3d;
  padding: 20px;
  transform: translateZ(100px);
}

.container .box .body .content div.orange {
  background-color: #fa7a51;
}
.container .box .body .content div.green {
  background-color: #00a597;
}

.container .box .body .content div h3 {
  /* letter-spacing: 1px; */
  font-size: 20px;
}

/* ----------- MARKETING SECTION --------------  */

.marketing {
  min-height: 700px;
  padding: 120px 0;
  background-color: var(--main-color-1);
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.marketing-text h1 {
  font-size: 35px;
  font-weight: 700;
  color: var(--color-titulo-1);
  position: relative;
}

.marketing-text h2 {
  margin: 20px 0 40px 0;
  font-size: 30px;
  font-weight: 600;
  background: rgb(255, 255, 255);
  background: linear-gradient(#fc774f, #d96041);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.marketing-apps > div:first-child {
  margin-bottom: 15px;
}

.marketing-apps div > span {
  color: var(--black-200);
  font-size: 20px;
}

.marketing-apps .apps .app:not(:first-child) {
  margin-left: 10px;
}

.marketing-apps .apps {
  display: flex;
}

.marketing-apps .app-item {
  background-color: var(--black-900);
  padding: 0px 10px;
  display: flex;
  margin: 0;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  /* transition: all 0.5s ease; */
}

.marketing-apps .app-item:hover {
  transform: scale(1.07);
  box-shadow: var(--shadow-black-300);
}

.marketing-apps .app-item img {
  max-width: 35px;
  min-width: 30px;
  widows: 100%;
  padding: 5px;
}
.marketing-apps .app-item .text-app {
  color: #fff;
  margin-left: 3px;
}
.marketing-apps .app-item .text-app span {
  font-size: 9px;
  font-weight: 300;
  color: #fff;
}
.marketing-apps .app-item .text-app h3 {
  font-size: 15px;
  font-weight: 600;
  word-spacing: -2px;
}

.marketing img {
  max-width: 1000px;
  width: 100%;
  /* box-shadow: var(--shadow-black-100); */
}
.marketing-img {
  position: relative;
  margin-left: 50px;
  transform: translateX(-10%);
  animation: bounceTop_01 3s ease infinite;
}

/* ----------- ALLIES SECTION --------------  */

.allies {
  min-height: 500px;
  background-color: var(--main-color-1);
  padding: 10px 0;
  overflow-x: hidden;
}

.allies-header {
  background-color: var(--main-color-3);
  padding: 8px;
  display: block;
}

.allies-header h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-titulo-1);
  position: relative;
}
/*
.allies-content {
  width: 100vw;
  text-align: center;
}*/

.allies-content .images-allies {
  margin: 35px 0;
  display: flex;
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.allies-content .image-container {
  padding: 10px;
  /* height: 100px; */
  width: 150px;
  /* min-width: 10vw; */
}

.allies-content .images-allies .image-container img {
  width: 100%;
  /* height: 100%; */
  padding: 5px;
  transition: all 0.5s ease;
  filter: grayscale(100%);
  display: block;
}

.allies-content .images-allies img:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}

.allies-text h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-titulo-1);
  position: relative;
  margin: 35px 0;
}

/* ------------ CONTACT ---------------- */
.contact {
  /* background-color: var(--black-100); */
  background-color: var(--main-color-3);
  padding: 100px 10vw;
}

.section-title h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-titulo-1);
}

.contact-form .content-button {
  display: flex;
}
.contact-form .content-button span:first-child {
  margin-right: 20px;
}

.contact-info h3,
.contact-form h3 {
  font-size: 20px;
  color: var(--black-900);
  font-weight: 500;
  margin-bottom: 20px;
}
.contact-info-item {
  position: relative;
  padding-left: 55px;
  margin-bottom: 30px;
}
.contact-info-item svg {
  position: absolute;
  left: 0;
  top: 4px;
  /* height: 40px; */
  width: 40px;
  border-radius: 50%;
  /* font-size: 16px; */
  color: var(--main-color);
  border: 1px solid var(--main-color);
  text-align: center;
  line-height: 38px;
}
.contact-info-item h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 10px;
  color: var(--black-900);
}
.contact-info-item p {
  /* font-style: italic; */
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 26px;
  color: var(--black-400);
}

.contact-form .form-group {
  margin-bottom: 25px;
}
.contact-form .form-group input,
.contact-form .form-group textarea {
  width: 100%;
  background: none;
  color: #666;
  margin: 1.5rem 0;
  padding: 0.5rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  text-transform: none;
}

.contact-form .form-control {
  height: 52px;
  border: 0;
  padding: 0 24px;
  color: var(--black-900);
  background-color: var(--black-000);
  transition: all 0.5s ease;
}

.contact-form .form-control:focus {
  border-color: var(--main-color);
}

.contact form .form-group {
  position: relative;
  margin-bottom: -22px;
}

.contact form .form-group input,
.contact form .form-group textarea,
.contact form .form-group input:hover,
.contact form .form-group textarea:hover {
  box-shadow: none !important;
  border: none !important;
  border-bottom: 1px solid var(--main-color-2) !important;
  border-radius: 5px !important;
}

.contact form .form-group label {
  position: absolute;
  top: 15px;
  left: 0px;
  font-size: 17px;
  color: #666;
  transition: 0.2s linear;
}

.contact form .form-group input:focus {
  box-shadow: var(--shadow-black-100);
}

.contact form .form-group:focus,
.contact form .form-group input:focus ~ label,
.contact form .form-group input:valid ~ label,
.contact form .form-group textarea:focus ~ label,
.contact form .form-group textarea:valid ~ label {
  top: -10px;
  font-size: 14px;
  font-weight: 400;
  color: var(--main-color-2);
  background-color: var(--main-color-3);
}

.contact-form .submit-container > div {
  text-align: center;
}

.contact form .form-group textarea {
  resize: none;
  height: 100px;
}

/* ----------- FOOTER SECTION --------------  */
.footer {
  /* min-height: 800vh; */
  padding: 30px 0 60px 0;
  background-color: var(--main-color-1);
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.footer img {
  max-width: 200px;
  width: 100%;
  margin-left: 37px;
}
.footer .footer-img {
  margin-bottom: 100px;
  text-align: center;
}
.footer .list-icon {
  color: var(--black-000) !important;
}
.footer .list-icon ul {
  list-style-type: none;
}
.footer .list-icon ul li {
  border-radius: 50%;
  background-color: var(--main-color-2);
  margin: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.footer .list-icon ul li:hover {
  filter: brightness(1.1);
}
.footer .list-icon ul li svg {
  padding: 3px;
  font-size: 18px !important;
  color: #fff !important;
  text-align: center;
  vertical-align: middle;
}

.footer-col {
  padding-left: 100px;
}
.footer-col h3 {
  font-size: 23px;
  font-weight: 600;
  color: var(--black-200);
  margin: 0 0 25px;
}
.footer-col p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  line-height: 26px;
  margin: 0;
}
.footer-col ul {
  margin: 0;
  padding-left: 0;
}

.footer-col ul li {
  margin-bottom: 0;
}

.footer-col ul li a {
  font-size: 18px;
  color: var(--black-200);
  font-weight: 500;
  display: block;
  text-transform: capitalize;
  transition: all 0.5s ease;
  text-decoration: none;
}
.footer-col ul li a:hover {
  padding-left: 7px;
  color: var(--main-color-2);
  font-weight: 600;
}

/* ------------ MEDIA QUERIES ---------------- */

@media (max-width: 1756px) {
  .home-img .circle {
    height: 520px;
    width: 520px;
    transition: all 1s ease;
  }
}
@media (max-width: 1408px) {
  /* ---------
  HOME SECTION
  ------------- */
  .home-img .circle {
    height: 470px;
    width: 470px;
    transition: all 1s ease;
  }
  .home-title h2 {
    font-size: 45px;
  }
  .home-title h2 span.mas {
    transform: translate(-35px, 9px);
    font-size: 50px;
  }
  .home-title .h1 {
    font-size: 53px;
  }
}

@media (max-width: 1285px) {
  /* ---------
  HOME SECTION
  ------------- */
  .home-title h2 {
    font-size: 38px;
  }
  .home-title h2 span.mas {
    transform: translate(-25px, 4.5px);
    font-size: 45px;
  }

  .home-title .h1 {
    font-size: 48px;
  }

  .home-text p {
    font-size: 2vw;
  }

  .home-text span {
    font-size: 20px;
  }
  .home-img {
    position: relative;
    margin-left: 10px;
  }
  .home-img .circle {
    height: 440px;
    width: 440px;
    transition: all 1s ease;
  }
  /* ---------
  PRODUCTS SECTION
  ------------- */

  .products {
    min-height: 40vh;
    padding: 70px 0;
  }

  .products-list {
    height: 400px;
    width: 400px;
    transition: all 1s ease;
  }
  .container .box {
    height: 120px;
    width: 120px;
  }

  /* ---------
  MARKETING SECTION
  ------------- */
  .marketing-apps .apps {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* transform: scale(1.07); */
  }

  /* ---------
  CONTACT SECTION
  ------------- */
  .contact {
    padding: 80px 8vw;
  }
}

@media (max-width: 1102px) {
  .navbar .container-fluid,
  .home .container-fluid,
  .marketing .container-fluid,
  .allies .container-fluid .allies-body,
  .products .container-fluid {
    margin: 0 7.5vw;
  }

  /* ---------
  HOME SECTION
  ------------- */

  .home-title .h1 {
    font-size: 43px;
    display: inline;
  }

  .home-img .circle {
    height: 400px;
    width: 400px;
    transition: all 1s ease;
  }

  .home-img {
    margin-left: 0px;
  }
  .home-apps .apps {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  /* ---------
  PADDING SECTION
  ------------- */
  .footer-col {
    padding-left: 70px;
  }
}

@media (max-width: 991px) {
  .navbar .container-fluid,
  .home .container-fluid,
  .marketing .container-fluid,
  .allies .container-fluid .allies-body,
  .products .container-fluid {
    margin: 0 5vw;
  }

  .navbar .nav-item .nav-link {
    font-size: 24px;
  }

  /* ---------
  HOME SECTION
  ------------- */
  .home {
    min-height: 70vh;
    transition: all 1s ease;
  }
  .home .home-content {
    margin-right: 0px;
  }

  .home-text p {
    font-size: 18px;
  }

  .home-text span {
    font-size: 20px;
  }

  .home-img .circle {
    height: 370px;
    width: 370px;
    transition: all 1s ease;
  }

  /* ---------
  PRODCUTS SECTION
  ------------- */
  .products-list {
    height: 350px;
    width: 350px;
    transition: all 1s ease;
  }
  .container .box {
    height: 100px;
    width: 100px;
  }

  /* ---------
  MARKETING SECTION
  ------------- */
  .marketing {
    min-height: 70vh;
    padding: 120px 0;
    transition: all 1s ease;
  }

  .marketing-text h1 {
    font-size: 30px;
  }
  .marketing-text h2 {
    font-size: 24px;
  }
  /* ---------
  ALLIES SECTION
  ------------- */

  .home-apps .apps {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  /* ---------
  CONTACT SECTION
  ------------- */

  .contact {
    padding: 80px 6vw;
  }
  .contact-section,
  .contact-section {
    width: 100%;
  }
  .contact-info-detail {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-info-item {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  /* ---------
  FOOTER SECTION
  ------------- */
  .footer-col {
    padding-left: 50px;
  }
}
@media (max-width: 850px) {
  /* ---------
  HOME SECTION
  ------------- */
  .home {
    padding-bottom: 25px;
  }
  .home-title .h1 {
    font-size: 40px;
  }

  .home-img .circle {
    height: 310px;
    width: 310px;
    transition: all 1s ease;
  }

  /* ---------
  MARKETING SECTION
  ------------- */
  .marketing {
    min-height: 48vh;
    padding: 80px 0;
    transition: all 1s ease;
  }

  .marketing-text h1 {
    font-size: 25px;
  }
  .marketing-text h2 {
    font-size: 24px;
  }

  /* ---------
  FOOTER SECTION
  ------------- */
  .footer-col {
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  .navbar .container-fluid,
  .home .container-fluid,
  .marketing .container-fluid,
  .allies .container-fluid .allies-body,
  .products .container-fluid {
    margin: 0 8vw;
  }

  .btn-1 {
    padding: 8px 20px;
    margin: 15px 0;
  }
  /* ---------
  HOME SECTION
  ------------- */

  .home-content {
    margin-bottom: 55px;
  }

  .home-text {
    text-align: justify;
  }
  .home-title,
  .content-button {
    text-align: center;
  }

  .home-title h2 {
    font-size: 43px;
  }
  .home-title h2 span.mas {
    position: relative;
    font-size: 43px;
  }

  .home-title .h1 {
    font-size: 43px;
  }

  .home-text p {
    margin: 30px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 41px;
    word-spacing: 5px;
  }

  .home-text span {
    font-size: 22px;
  }
  .marketing-apps > div,
  .home-apps > div {
    text-align: center;
    margin-bottom: 10px;
  }
  .home-apps div > span {
    color: var(--black-200);
    font-size: 20px;
  }
  .marketing-apps .app-item img,
  .home-apps .app-item img {
    max-width: 40px;
    min-width: 40px;
  }
  .marketing-apps .app-item .text-app span,
  .home-apps .app-item .text-app span {
    font-size: 15px;
  }
  .marketing-apps .app-item .text-app h3,
  .home-apps .app-item .text-app h3 {
    font-size: 18px;
  }

  .home-img img {
    max-width: 95vw;
    /* box-shadow: var(--shadow-black-100); */
    border-radius: 32px;
    animation: bounceTop_01 3s ease infinite;
    margin-bottom: 100px;
  }

  .home-img {
    width: 50vw;
    text-align: center;
  }

  /* ---------
  PRODUCTS SECTION
  ------------- */
  .products-title {
    text-align: center;
  }

  .products-list {
    height: 500px;
    width: 500px;
    margin: 0 auto !important;
  }
  .container .box {
    height: 150px;
    width: 150px;
  }

  .products .container-fluid {
    text-align: center;
  }

  /* ---------
  MARKETING SECTION
  ------------- */
  .marketing {
    padding: 80px 0;
  }
  .marketing-text h1 {
    font-size: 35px;
  }
  .marketing-text h2 {
    font-size: 28px;
  }
  .marketing .marketing-text {
    text-align: center;
  }
  /* ---------
  CONTACT SECTION
  ------------- */
  .contact-info-item {
    flex: 0 0 auto;
    width: 50%;
  }

  /* ---------
  FOOTER SECTION
  ------------- */
  .footer-col {
    padding-left: 0px;
    text-align: center;
  }
  .footer-col ul li a:hover {
    padding-left: 0px;
    font-weight: 600;
  }
  .footer .footer-img {
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  /* ---------
  HOME SECTION
  ------------- */

  .home-text p,
  .home-text span {
    word-spacing: 0px;
  }

  .home-img img {
    max-width: 95vw;
    /* box-shadow: var(--shadow-black-100); */
    border-radius: 32px;
    animation: bounceTop_01 3s ease infinite;
    margin-bottom: 70px;
  }

  /* ---------
  PRODUCTS SECTION
  ------------- */
  .products-list {
    height: auto;
    width: auto;
    transition: all 1s ease;
  }
  .products-list > div {
    margin-bottom: 15px;
  }

  /* ---------
  MARKETING SECTION
  ------------- */
  .marketing img {
    max-width: 1000px;
    width: 100%;
    /* box-shadow: var(--shadow-black-100); */
  }
  .marketing-img {
    position: relative;
    margin-left: 60px;
    transform: translateX(-10%);
    animation: bounceTop_01 3s ease infinite;
  }
}

@media (max-width: 500px) {
  /* ---------
  HOME SECTION
  ------------- */
  .home-text h2 {
    font-size: 30px;
  }

  .home-img .circle {
    height: 200px;
    width: 200px;
    transform: translate(-50%, -50%);
  }

  /* ---------
  home y marketing SECTION
  ------------- */

  .marketing-apps .apps,
  .home-apps .apps {
    flex-direction: column;
  }
  .marketing-apps .app-item,
  .home-apps .app-item {
    width: 200px;
  }
  .marketing-apps .apps .app:not(:first-child),
  .home-apps .apps .app:not(:first-child) {
    margin-left: 0px;
  }

  /* ---------
  CONTACT SECTION
  ------------- */
  .contact-info-item {
    flex: 0 0 auto;
    width: 100%;
  }
}
