/* GLOBAL CSS */

:root {
  --main-color-1: #f0f0f0;
  --main-color-2: #13a88c;
  --main-color-3: #d2e9e5;

  --color-titulo-1: #13a88c;
  --color-titulo-2: #dc6242; /* es degradado */
  --color-titulo-3: #dc6242; /* es degradado */

  --color-1: #e91e63;
  --color-2: #f5ae10;
  --color-3: #09d69c;

  --bg-dark: #2b2c2f;
  --main-to-dark-color: var(--main-color-1);
  --dark-to-main-color: var(--bg-dark);
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-700: #3c3c3c;
  --black-400: #555555;
  --black-200: #808080;

  --black-100: #f7f7f7;
  --black-000: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #fff;
  line-height: 1.5;
}
* {
  margin: 0;
  padding: 0;
  outline: none !important;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
.btn-1 {
  background: linear-gradient(to top, var(--main-color-2), #07e2b7);
  padding: 8px 20px;
  border: none;
  border-radius: 15px;
  color: var(--main-color-1);
  font-size: 16px;
  /* text-transform: capitalize; */
  transition: all 0.5s ease;
  box-shadow: var(--shadow-black-100);
  font-weight: 600;
  color: #fff;
}
.btn-2 {
  background: linear-gradient(to top, #d65f40, #fe784f);
  padding: 8px 20px;
  border: none;
  border-radius: 15px;
  color: var(--main-color-1);
  font-size: 16px;
  /* text-transform: capitalize; */
  transition: all 0.5s ease;
  box-shadow: var(--shadow-black-100);
  font-weight: 600;
  color: #fff;
}

.btn-1:focus,
.btn-2:focus {
  box-shadow: var(--shadow-black-300);
  color: #fff;
}
.btn-1:hover,
.btn-2:hover {
  transform: scale(1.07);
  color: #fff;
  box-shadow: var(--shadow-black-300);
}

@keyframes spin_01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounceTop_01 {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
}
@keyframes pulse_01 {
  0% {
    transform: scale(0.85);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.85);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
.effect-wrap .effect {
  position: absolute;
  z-index: 1;
}
.effect-wrap .effect-1 {
  left: 20%;
  top: 20%;
  font-size: 20px;
  color: var(--color-2);
  animation: spin_01 5s linear infinite;
}
.effect-wrap .effect-2 {
  right: 5%;
  top: 10%;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
  animation: spin_01 7s linear infinite;
}

.effect-wrap .effect-3 {
  left: 5%;
  bottom: 30%;
  font-size: 25px;
  color: var(--color-3);
  animation: bounceTop_01 3s linear infinite;
}
.section-padding {
  padding: 80px 0;
}
.section-title {
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 40px;
  color: var(--black-900);
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}

.section-title h2 span {
  color: var(--main-color-1);
}
.owl-carousel .owl-dots {
  padding: 0 15px;
  text-align: center;
  margin-top: 20px;
}
.owl-carousel button.owl-dot {
  height: 6px;
  width: 24px;
  background-color: #ddd;
  display: inline-block;
  margin: 0 4px;
  border-radius: 5px;
}
.owl-carousel button.owl-dot.active {
  background-color: var(--main-color-1);
}

.home .container-fluid,
.marketing .container-fluid {
  margin: 0 10vw;
}

.products .contenedor-products {
  margin: 0 10vw;
}
.allies .container-fluid {
  margin: 0;
}

/* ------------ NAVBAR ---------------- */
.navbar {
  background-color: transparent;
  padding: 20px 0;
  transition: all 0.5s ease;
  background-color: var(--main-color-1);
}

.navbar.navbar-shrink {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  /* background-color: var(--main-color-2); */
  padding: 10px 0;
}

.navbar > .container {
  padding: 0 15px;
}
.navbar-brand {
  display: inline-block;
  margin: 0 0 0 80px;
}
.navbar img {
  max-width: 120px;
  width: 100%;
}
.navbar .nav-item {
  margin-left: 40px;
}
.navbar .nav-item .nav-link {
  color: var(--color-titulo-1);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 0;
  position: relative;
}
.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  background-color: var(--color-titulo-1);
  transition: all 0.5 ease;
  transform: scale(0);
}
.navbar .nav-item .active::before,
.navbar .nav-item .nav-link:hover::before {
  transform: scale(1);
}

/* ----------- HOME SECTION --------------  */
.home {
  min-height: 100vh;
  padding: 150px 0;
  background-color: var(--main-to-dark-color);
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
.home .home-content {
  margin-right: 45px;
}
.home-text h2 {
  font-size: 45px;
  font-weight: 740;
  color: var(--color-titulo-1);
  position: relative;

  /* margin: 0 0 5px; */
}
.home-text h2 span {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 38px;
  font-size: 60px;
  font-weight: 750;
  color: var(--color-titulo-1);
  transform: translate(-35px, -25px);
  /* margin: 0 0 5px; */
}

.home-text h1 {
  font-size: 60px;
  display: inline-block;
  font-weight: 950;
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
  position: relative;
}

.home-text h1::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, var(--main-color-2), #15ffd0);
  mix-blend-mode: screen;
  position: absolute;
  top: 0;
  left: 0;
}
.home-text p {
  font-size: 20px;
  color: var(--black-200);
  line-height: 28px;
  margin: 20px 0;
  font-weight: 300;
  word-spacing: 12px;
}

.home-text span {
  margin: 35px 0;
  display: block;
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  word-spacing: 5px;
  color: var(--black-200);
}

.home-apps div > span {
  color: var(--black-200);
  font-size: 15px;
}

.home-apps .apps .app:not(:first-child) {
  margin-left: 10px;
}

.home-apps .app-item {
  background-color: var(--black-900);
  padding: 0px 10px;
  display: flex;
  margin: 0;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.home-apps .app-item:hover {
  transform: scale(1.07);
  box-shadow: var(--shadow-black-300);
}

.home-apps .app-item img {
  max-width: 35px;
  min-width: 30px;
  widows: 100%;
  padding: 5px;
}
.home-apps .app-item .text-app {
  color: #fff;
  margin-left: 3px;
}
.home-apps .app-item .text-app span {
  font-size: 9px;
  font-weight: 300;
  color: #fff;
}
.home-apps .app-item .text-app h3 {
  font-size: 15px;
  font-weight: 600;
  word-spacing: -2px;
}

.home-img img {
  max-width: 460px;
  width: 100%;
  /* box-shadow: var(--shadow-black-100); */
  border-radius: 32px;
  animation: bounceTop_01 3s ease infinite;
}
.home-img {
  position: relative;
  margin-left: 50px;
}
.home-img .circle {
  position: absolute;
  /* background-color: #12aa8d; */
  background: linear-gradient(to top left, var(--main-color-2), #07e2b7);

  /* z-index: 1; */
  height: 550px;
  width: 550px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*s
.home-img .circle::after {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  background-color: red;
  border-radius: 50%;
  top: 20px;
  left: 20px;
  transform-origin: 170px 170px;
  animation: spin_01 10s linear infinite;
}*/

/* ------------ PRODUCTS SECTION ---------------- */
.products {
  min-height: 80vh;
  padding: 150px 0;
  background: url(../img/section-products/bg.png) no-repeat;
  position: relative;
  z-index: 1;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.products .products-title {
  /* padding-right: 30px; */
}

.products-text h2 {
  font-size: 40px;
  font-weight: 740;
  color: var(--color-titulo-1);
  position: relative;
}

.products-text h2 span {
  font-size: 40px;
  font-weight: 740;
  background: rgb(255, 255, 255);
  background: linear-gradient(#f79375, #d96041);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.products-list {
  display: flex;
}
/*
.products-list .product-item {
  background-color: #00a597;
}
*/
.products-list .product-item img {
  /* width: 100%; */
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.products-list .col-sm {
  margin-bottom: 10px;
}

/* ----------- MARKETING SECTION --------------  */

.marketing {
  min-height: 80vh;
  padding: 150px 0;
  background-color: var(--main-to-dark-color);
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.marketing-text h1 {
  font-size: 35px;
  font-weight: 740;
  color: var(--color-titulo-1);
  position: relative;
}

.marketing-text h2 {
  margin: 20px 0 40px 0;
  font-size: 28px;
  font-weight: 700;
  background: rgb(255, 255, 255);
  background: linear-gradient(#fc774f, #d96041);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.marketing-apps div > span {
  color: var(--black-200);
  font-size: 15px;
}

.marketing-apps .apps .app:not(:first-child) {
  margin-left: 10px;
}

.marketing-apps .app-item {
  background-color: var(--black-900);
  padding: 0px 10px;
  display: flex;
  margin: 0;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.marketing-apps .app-item:hover {
  transform: scale(1.07);
  box-shadow: var(--shadow-black-300);
}

.marketing-apps .app-item img {
  max-width: 35px;
  min-width: 30px;
  widows: 100%;
  padding: 5px;
}
.marketing-apps .app-item .text-app {
  color: #fff;
  margin-left: 3px;
}
.marketing-apps .app-item .text-app span {
  font-size: 9px;
  font-weight: 300;
  color: #fff;
}
.marketing-apps .app-item .text-app h3 {
  font-size: 15px;
  font-weight: 600;
  word-spacing: -2px;
}

.marketing img {
  max-width: 1000px;
  width: 100%;
  /* box-shadow: var(--shadow-black-100); */
}
.marketing-img {
  position: relative;
  margin-left: 50px;
  transform: translateX(-10%);
  animation: bounceTop_01 3s ease infinite;
}

/* ----------- ALLIES SECTION --------------  */
.allies-header {
  background-color: var(--main-color-3);
  padding: 8px;
  display: block;
}

.allies-header h1 {
  font-size: 35px;
  font-weight: 740;
  color: var(--color-titulo-1);
  position: relative;
}
.allies-content {
  width: 100vw;
  /* justify-content: center; */
  text-align: center;
}

.allies-content .images-allies {
  margin: 35px 0;
}
.allies-content .images-allies img {
  max-width: 10vw;
  widows: 100%;
  padding: 5px;
  transition: all 0.5s ease;
  filter: grayscale(100%);
}
.allies-content .images-allies img:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}

.allies-text h1 {
  font-size: 35px;
  font-weight: 740;
  color: var(--color-titulo-1);
  position: relative;
  margin: 35px 0;
}

/* ----------- FOOTER SECTION --------------  */
.footer {
  /* min-height: 800vh; */
  padding: 30px 0 60px 0;
  background-color: var(--main-to-dark-color);
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.footer img {
  max-width: 200px;
  width: 100%;
  margin-bottom: 100px;
}

.footer-col {
  padding-left: 100px;
}
.footer-col h3 {
  font-size: 23px;
  font-weight: 600;
  color: var(--black-200);
  margin: 0 0 25px;
}
.footer-col p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  line-height: 26px;
  margin: 0;
}
.footer-col ul {
  margin: 0;
  padding-left: 0;
}

.footer-col ul li {
  margin-bottom: 0;
}

.footer-col ul li a {
  font-size: 18px;
  color: var(--black-200);
  font-weight: 500;
  display: block;
  text-transform: capitalize;
  transition: all 0.5s ease;
  text-decoration: none;
}
.footer-col ul li a:hover {
  padding-left: 7px;
}
